<p>id:<%= @user.id %></p>
<p>username:<%= @user.username %></p>
<p>email:<%= @user.email %></p>
<p>created_at:<%= @user.created_at %></p>
<p>current_sign_in_at:<%= @user.current_sign_in_at %></p>
<p>last_sign_in_at:<%= @user.last_sign_in_at %></p>
<p>current_sign_in_ip:<%= @user.current_sign_in_ip %></p>
<p>last_sign_in_ip:<%= @user.last_sign_in_ip %></p>