<div>
  <h3>基本信息</h3>
  <p>ID:<%= @user.id %></p>
  <p>用户名:<%= @user.username %></p>
  <p>昵称:<%= @user.nickname %></p>
  <p>邮箱:<%= @user.email %></p>
  <p>座右铭:<%= @user.motto %></p>
  <% if @user.avatar.file %>
    <%= image_tag @user.avatar_url %>
  <% end %>
  <p>注册时间:<%= @user.created_at %>
</div>

<div>
  <h3>登录信息</h3>
  <p>最近登录:<%= @user.last_sign_in_at%></p>
  <p>最近登录IP:<%= @user.last_sign_in_ip%></p>
</div>